<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<title>404</title>
	<style>
	body{
		margin: 0;
		user-select: none;
		font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	}
	.subject{
		-webkit-font-smoothing: antialiased;
		font-weight: 300;
		font-size: 176px;
	}
	.subject-second{
		-webkit-font-smoothing: antialiased;
		font-weight: 300;
		font-size: 34px;
	}
	.tac{
		text-align: center;
	}
	a{
		text-decoration: none;
		color: #999;
		font-size: 20px;
		margin: 0 16px;
	}
	a:hover{
		text-decoration: underline;
	}
	</style>
</head>
<body>
	<div class="subject tac">404</div>
	<div class="subject-second tac">PAGE NOT FOUND</div>
	<div class="tac" style="margin-top: 20px;">
		<a href="/">Home</a>
		<a href="javascript:history.go(-1);">Last Page</a>
	</div>
</body>
</html>